<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head('Home')}"></head>
<body>

	<div th:replace="~{fragments :: navbar}"></div>
	<div class="container mt-3">
	<div class="container text-center">
		<div class="row">
			<div class="col">
				<h1 align="left">Kanban Board</h1>
				<h4 align="left">Building the system.... </h4>
			</div>
			<div class="col">
				<img src="">
			</div>
		</div>
	</div>
	<input class="btn btn-primary" type="button" onclick="location.href='/boards/new';" value="New Boards" />
	<input class="btn btn-primary" type="button" onclick="location.href='/users/new';" value="New Users" />
	</div>
</body>
</html>