<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head('Home')}"></head>
<body>

	<div th:replace="~{fragments :: navbar}"></div>
	
	<div class="container mt-3">
		<div class="col-6">
			<span th:styleappend="${ param.message == null ? 'display:none' : ''}"
				th:classappend="${(param.message != null && param.error == 1) ? 'error-message form-control is-invalid' : 'sucess-message form-control is-valid'}" 		
				th:text="${param.message != null ? param.message : ''}"></span>
		</div>
	</div>
	
	<div class="container mt-3">
		<div>
			<h1>Your Kanban Boards</h1>
		</div>
		<table class="table table-striped table-hover">
			<thead class="table-hover">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">Owner</th>
					<th scope="col">Created at</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="board : ${boards}">
					<td scope="row" th:text="${board.name}"></td>
					<td scope="row" th:text="${board.description}"></td>
					<td scope="row" th:text="${board.owner.person.name}"></td>
					<td scope="row" th:text="${board.creationDate}"></td>
					<td scope="row"><a th:href="@{/boards/{boardId}/edit(boardId = ${board.id})}">Edit</a></td>
					<td scope="row"><a data-bs-toggle="modal" th:attr="data-bs-target='#staticBackdrop'+${board.id}" href="#">Delet</a></td>
						<div th:replace="~{fragments :: delete-board}"></div>
				</tr>
			</tbody>
		</table>
		<input class="btn btn-primary" type="button" onclick="location.href='/boards/new';" value="New Board" />
	</div>
</body>
</html>