<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head('Home')}"></head>
<body>
	<div th:replace="~{fragments :: navbar}"></div>
	<div class="container mt-3">
		<h1 class="mb-3">Your tasks</h1>
		<table class="table table-striped table-hover  table-bordered">
			<thead class="table-hover">
				<tr>
					<th scope="col">To Do</th>
					<th scope="col">Doing</th>
					<th scope="col">Done</th>
				</tr>
			</thead>
			<tbody class="table-hover">
				<tr>
					<td scope="row">
						<p class="list-group-item" th:styleappend="${toDoTasks.isEmpty() ? '' : 'display:none'}">Nothing here!</p>						
						<ul class="list-group"  th:each="task : ${toDoTasks}">						 
						  <li class="list-group-item" th:text="${task.name}"></li>
						</ul>
					</td>
					<td scope="row">
						<p class="list-group-item" th:styleappend="${doingTasks.isEmpty() ? '' : 'display:none'}">Nothing here!</p>																
						<ul class="list-group"  th:each="task : ${doingTasks}">
						  <li class="list-group-item" th:text="${task.name}"></li>
						</ul>
					</td>
					<td scope="row">
						<p class="list-group-item" th:styleappend="${doneTasks.isEmpty() ? '' : 'display:none'}">Nothing here!</p>											
						<ul class="list-group"  th:each="task : ${doneTasks}">
						  <li class="list-group-item" th:text="${task.name}"></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>	
		<a th:href="@{/tasks/new/{boardId}(boardId = ${boardId})}">New Task</a>	</div>
</body>
</html>