<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments :: head('Home')}"></head>
<body>
	<div th:replace="~{fragments :: navbar}"></div>
	
	<div class="container mt-3">
		<div class="col-6">
			<span th:styleappend="${ param.message == null ? 'display:none' : ''}"
				th:classappend="${(param.message != null && param.error == 1) ? 'error-message form-control is-invalid' : 'sucess-message form-control is-valid'}" 		
				th:text="${param.message != null ? param.message : ''}"></span>
		</div>
	</div>
	
	<div class="container mt-3">
		<h1 th:text="${task.name}"></h1>		
		<ul class="list-group">
		  <label class="form-label fw-bold"> Description: </label> 
		  <li class="list-group-item" th:text="${task.description}"></li>
		  <label class="form-label fw-bold"> Assigned To: </label> 
		  <span class="list-group-item" th:text="${task.assignedTo == null ? 'No one' : task.assignedTo.person.name}"></span>
		  <label class="form-label fw-bold"> Creation Date: </label> 
		  <li class="list-group-item" th:text="${task.creationDate}"></li>
		</ul>
		<br>
		<ul class="list-group" th:each="c : ${comments}">
			<ul class="list-group">
				 <span th:text="${c.owner == null ? '' : c.owner.person.name}"></span>
				<li class="list-group-item item">
				 	<span  th:text="${c.description == null ? '' : c.description}"></span>
		 		</li>
		 		<a th:href="@{/comments/{commentId}/delete(commentId = ${c.id})}">Delet</a><br>
		 	</ul>
		</ul>
		<br>
		<a th:href="@{/boards/{boardId}(boardId = ${task.boardId})}">Go Back To Board</a>
		<a th:href="@{/comments/new/{taskId}(taskId = ${task.id})}">New Comment</a>
	</div>
</body>
</html>






