<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments :: head('Home')}"></head>
<body>
	<div th:replace="~{fragments :: navbar}"></div>
	<div class="container mt-3">
		<h1 th:text="${task.name}"></h1>		
		<ul class="list-group">
		  <label class="form-label fw-bold"> Description: </label> 
		  <li class="list-group-item" th:text="${task.description}"></li>
		  <label class="form-label fw-bold"> Assigned To: </label> 
		  <li class="list-group-item" th:text="${task.assignedTo.person.name}"></li>
		  <label class="form-label fw-bold"> Creation Date: </label> 
		  <li class="list-group-item" th:text="${task.creationDate}"></li>
		</ul>
		<a th:href="@{/boards/{boardId}(boardId = ${task.boardId})}">Go Back To Board</a></div>
	</div>
</body>
</html>





