<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head('Home')}"></head>
<body>

	<div th:replace="~{fragments :: navbar}"></div>
	
	<div class="container mt-3">
		<div class="col-6">
			<span th:styleappend="${ param.message == null ? 'display:none' : ''}"
				th:classappend="${ (param.error != null && param.error)  ? 'error-message form-control is-invalid' : 'sucess-message form-control is-valid'}" 		
				th:text="${ param.message != null ? param.message : ''}"></span>
		</div>
	</div>
	
	<div class="container mt-3">
		<div>
			<h1>Users</h1>
		</div>
		<table class="table table-striped table-hover">
			<thead class="table-hover">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Login</th>
					<th scope="col">Role</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="user : ${users}">
					<td scope="row" th:text="${user.person.name}"></td>
					<td scope="row" th:text="${user.login}"></td>
					<td scope="row" th:text="${user.role}"></td>
					<td scope="row"><a data-bs-toggle="modal" th:attr="data-bs-target='#staticBackdrop'+${user.id}" th:href="@{/users/{userId}/delete(userId = ${user.id})}">Delet</a></td>
						<div th:replace="~{fragments :: delete-user}"></div>
				</tr>
			</tbody>
		</table>
		<input class="btn btn-primary" type="button" onclick="location.href='/users/new';" value="New User" />
	</div>
</body>
</html>